@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin");
.article-item-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0 -1.5em 0;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4285em;
  color: #1D1D1D;
  list-style: none; }
  .article-item-group.article-style-blog {
    flex-flow: column; }
  .article-item-group p {
    font-size: inherit; }

.article-item {
  flex: 0 0 100%;
  padding-left: 1.5em;
  padding-bottom: 1em; }
  @media (min-width: 48em) {
    .article-item {
      flex: 0 0 calc(50% - 1.5em); } }
  @media (min-width: 60em) {
    .article-item {
      flex: 0 0 calc(33.3333% - 1.5em); } }

.article-style-blog .article-media {
  float: left;
  margin-right: 1.5em; }

.article-style-blog .article-content {
  overflow: hidden; }

.article-title {
  text-decoration: none;
  margin: .5em 0 .3em 0;
  color: #192856;
  font-size: 1.3em;
  font-weight: 700; }

.article-title_link {
  text-decoration: none;
  color: #192856; }
  .article-title_link:hover {
    text-decoration: underline; }

.article-content p {
  margin-top: .7em; }

.article-media {
  padding-bottom: .5em; }

.article-image {
  background-color: #eee;
  overflow: hidden;
  width: 100%;
  display: block;
  background-repeat: none;
  background-size: cover;
  background-position: center center; }

.article-image_circle {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto; }

.article-meta {
  color: #7C7C7C;
  font-size: 0.9em;
  margin-top: 0.2em; }
  .article-meta span {
    color: #192856;
    font-weight: bold; }

.article-tag {
  display: inline-block;
  margin-right: 1em;
  font-size: 0.8em;
  font-style: italic;
  color: #aaa; }
