@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

$tablet:   735px;  
$laptop:   900px; 
$desktop:  1100px; 

$font-color: #1D1D1D; //#777;
$font-size: 1em;
$font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

$header-font-size:  1.3em;
$header-font-weight: 700;
$header-color-link: #192856; //#4183C4;

$meta-font-size:  .9em;
$meta-margin-top: .2em;
// $meta-color: #7C7C7C; //#aaa;

$tag-font-size:  .8em;
// $tag-color: #aaa;

$gutter: 1.5em;

.article-item-group {  
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.4285em;
  color: $font-color;
  list-style: none;

  &.article-style-blog {
    flex-flow: column; 
  }

  p {
    font-size: inherit;
  }
}

.article-item {
  flex: 1 0 100%; 
  padding-left: $gutter;
  padding-bottom: 1em;

  @media (min-width: 48em) {
    flex: 0 0 calc(50% - #{$gutter});  
  }

  @media (min-width: 60em) {
    flex: 1 0 calc(33.3333% - #{$gutter});  
  }
}

.article-style-blog {
  .article-media {
   float: left;
   margin-right:  $gutter;
  }

  .article-content {
    overflow:hidden;
  }
}

.article-title  {
  text-decoration:  none;
  margin: .5em 0 .3em 0;
  color: $header-color-link;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
}

.article-title_link {
  text-decoration:  none;
  color: $header-color-link;
  &:hover {
    text-decoration: underline;
  }
}

.article-content {
  p {
    margin-top: .7em;
  }
}

.article-media {
  padding-bottom: .5em;
}

.article-image {
  background-color: #eee;
  overflow: hidden;
  width: 100%;
  display: block;
  background-repeat: none;
  background-size: cover;
  background-position: center center;
}

.article-image_circle {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.article-meta {
  color: lighten( $header-color-link, 10% );
  font-size: $meta-font-size;
  margin-top: $meta-margin-top;

  span {
    color: $header-color-link;
    font-weight: bold;
  }
}

.article-tag {
  display: inline-block;
  margin-right: 1em;
  font-size: $tag-font-size;
  font-style: italic;
  color: lighten( $header-color-link, 10% );
}