@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

$tablet:   735px;  
$laptop:   900px; 
$desktop:  1100px; 

$font-color: #1D1D1D; //#555;
$font-size: 1em;
$font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

$header-font-size:  1.3em;
$header-font-weight: 700;
$header-color-link: #192856; //#4183C4;

$meta-font-size:  .9em;
$meta-margin-top: .2em;
$meta-color: #bbb;

$align: center;
$image-diameter: 220px;

.article-header > a {
  text-decoration:  none;
  color: $header-color-link;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
  line-height: 1.5;

  &:hover {
    text-decoration: underline;
  }
}

.article-group {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.4285em;
  color: $font-color;

  p {
    font-size: inherit;
  }
}

.article-group_row {
  display: flex; 
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: $align;

  article {
    flex-grow: 1;
    margin: 0; 
    
    @media (min-width: $tablet) { 
      flex-grow: 0;
      width: 22em;        // 352px -> 22*16 
      margin: .5em;
    }

    @media (min-width: $laptop) { 
      width: 25em;        // 400px -> 25*16 
    }

    @media (min-width: $desktop) { 
      flex-grow: 0;
      margin: .8em;
      width: 20em;       // 320px -> 20*16 
    }
  }
}

.article-group_column {
  display: flex; 
  flex-flow: column wrap;

  article {
    flex: 1; 
  }
}

.article-item {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
}

.article-blog {
  border-bottom: 1px solid #eee;
  align-items: center;

  .article-media {
    flex-basis: 15em;
    flex-grow: 1;
    @media (min-width: $tablet) { 
      margin-right: 1em;
    }

    .article-image_rectangle {
      margin-right: .5em;
    }
  }

  .article-content {
    flex-basis: 22em;
    flex-grow: 5;
  }
}

.article-content {
  p {
    margin-top: .7em;
  }
}

.article-media {
  width: 100%;
  padding-bottom: .5em;
}

.article-image {
  background-color: #eee;
  overflow: hidden;
  width: 100%;
  display: block;
  min-height: 220px;
  background-repeat: none;
  background-size: cover;
  background-position: center center;
}

.article-image_circle {
    width: $image-diameter;
    height: $image-diameter;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.article-meta {
  color: $meta-color;
  font-size: $meta-font-size;
  margin-top: $meta-margin-top;
}