@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin");
.article-header > a {
  text-decoration: none;
  color: #192856;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.5; }
  .article-header > a:hover {
    text-decoration: underline; }

.article-group {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4285em;
  color: #1D1D1D; }
  .article-group p {
    font-size: inherit; }

.article-group_row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center; }
  .article-group_row article {
    flex-grow: 1;
    width: 100%;
    margin: 0; }
    @media (min-width: 735px) {
      .article-group_row article {
        flex-grow: 0;
        flex-basis: 22em;
        margin: .5em; } }

.article-group_column {
  display: flex;
  flex-flow: column wrap; }
  .article-group_column article {
    flex: 1; }

.article-item {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em; }

.article-blog .article-media {
  flex-basis: 15em;
  flex-grow: 1; }
  @media (min-width: 735px) {
    .article-blog .article-media {
      margin-right: 1em; } }
  .article-blog .article-media .article-image_rectangle {
    margin-right: .5em; }

.article-blog .article-content {
  flex-basis: 22em;
  flex-grow: 5; }

.article-content p {
  margin-top: .7em; }

.article-media {
  width: 100%;
  padding-bottom: .5em; }

.article-image {
  background-color: #eee;
  overflow: hidden;
  width: 100%;
  display: block;
  background-repeat: none;
  background-size: cover;
  background-position: center center; }

.article-image_circle {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto; }

.article-meta {
  color: #bbb;
  font-size: 0.9em;
  margin-top: 0.2em; }
